extends ../layout

block content
    table.table
        thead.thead-dark
            tr
                th ID
                th Nombre
                th Apellidos
                th Empresa
                th Provincia
        tbody
            tr
                td 01
                td Francisco
                td Pérez Martín
                td Pescadería Paco
                td Guipúzcoa
            tr
                td 02
                td Jesús
                td Gómez López
                td Verduras Madrid
                td Madrid
            tr
                td 03
                td María
                td García Fernández
                td Bocadillos García
                td Cuenca
