<h2> Hola mundo </h2>
<!-- <h3> {{valorSelect}} </h3>
<select (change)="cambiaSelect($event)">
  <option value="uno">Uno</option>
  <option value="dos">Dos</option>
  <option value="tres">Tres</option>
  <option value="cuatro">Cuatro</option>
</select>

<saludo></saludo>

<div class="cronometros">
  <crono [contador]="contadores[0]" (terminaCrono)="onTerminaCrono($event)"></crono>
  <crono [contador]="contadores[1]" (terminaCrono)="onTerminaCrono($event)"></crono>
  <crono [contador]="contadores[2]" (terminaCrono)="onTerminaCrono($event)"></crono>
  <crono [contador]="contadores[3]" (terminaCrono)="onTerminaCrono($event)"></crono>
</div>

<app-sumar [num1]="56" [num2]="32"></app-sumar> -->

<app-formulario></app-formulario>
