extends ../layout.pug

block content
    h2 Detalle del producto: #{producto.nombre}
    p Precio: #{producto.precio}
    p Descripción: #{producto.descripcion}
    p Departamento: #{producto.departamento}