mixin lista(arr)
    ul
        each elem in arr
            li= elem
        else
            li no hay elementos
            
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/cabecera.pug
    .container
      block contenido
    footer
      block footer
        p Footer por defecto
