<div>
  <button (click)="cambiaColor('red')"> Rojo </button>
  <button (click)="cambiaColor('green')"> Verde </button>
  <button (click)="cambiaColor('blue')"> Azul </button>
</div>
<input type="text" (input)="onInput($event)">
<input type="range" (input)="onInputRange($event)">
<p [ngStyle]="estilosParrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate iste
  totam, pariatur nostrum illo sapiente
  non eos earum laborum doloremque explicabo molestias dolore vero dignissimos nam aperiam laboriosam facilis impedit
  maiores! Omnis, reprehenderit blanditiis. Cumque, sed laudantium. Qui distinctio accusamus dolores eius nobis sunt.
  Id
  dolorum distinctio temporibus illo nihil a quia iste veniam est, minus consequuntur, cum aut quos saepe, numquam sed
  quis et eveniet sequi obcaecati repudiandae minima quidem praesentium.
  Repellendus a vitae aliquam impedit.
  Harum ut itaque sit totam laborum, iste quo obcaecati corrupti dolore nihil quam soluta maxime iure illo sed?
  Cum dolor culpa architecto!
</p>

<p [ngClass]="{ parrafo: activaClase }"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi earum commodi
  officiis
  aperiam
  numquam obcaecati
  consequuntur consequatur illo, officia placeat sit voluptates et totam doloremque, iusto sequi quidem, magni
  dignissimos.</p>
