<button (click)='onAddEpisode()'>Agregar Episodio</button>
<div class="episodios">
  <div class="episodio" *ngFor="let episodio of episodios">
    <h3> {{episodio.title }}</h3>
    <p> Director: {{episodio.director}}</p>
  </div>
</div>

<table>
  <caption> Tabla de Episodios de la primera temporada de Juego de Tronos</caption>
  <thead>
    <tr>
      <th scope="col" id="indice">Índice</th>
      <th scope="col" id="titulo">Título</th>
      <th scope="col" id="director">Director</th>
      <th scope="col">Primero</th>
      <th scope="col">Último</th>
      <th scope="col">Par</th>
      <th scope="col">Impar</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let episodio of episodios; let indice= index; let primero = first; let ultimo = last; let par = even; let impar = odd"
      [ngClass]="{'fila-par': par, 'fila-impar': !par}">
      <td headers="indice"> {{indice + 1}} </td>
      <td headers="titulo">{{episodio.title}}</td>
      <td headers="director">{{episodio.director}}</td>
      <td> {{primero}} </td>
      <td> {{ultimo}} </td>
      <td> {{par}} </td>
      <td> {{impar}} </td>
    </tr>
  </tbody>
</table>
