extends ../layout

block content
    h1 Descripción del autor
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo porttitor nibh eget finibus. Maecenas vel dui viverra, mollis metus a, egestas ligula. In et sagittis lectus. Etiam malesuada erat at arcu lacinia porta. Proin id tortor a massa laoreet eleifend. Nullam sit amet pellentesque tellus. Phasellus facilisis purus eu ante ornare, eget tristique elit imperdiet. Integer gravida orci dui, finibus mattis felis vehicula ut. Proin tempor tincidunt condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec id ultricies sapien, et tristique sapien. Morbi suscipit erat quis venenatis congue. Aliquam eget velit lobortis, dignissim ex et, volutpat nulla.