extends ../layout

block content
  h1 Página Principal
  p Lorem fistrum mamaar quietooor caballo blanco caballo negroorl condemor diodenoo jarl fistro condemor al ataquerl. Amatomaa te va a hasé pupitaa llevame al sircoo no te digo trigo por no llamarte Rodrigor caballo blanco caballo negroorl papaar papaar va usté muy cargadoo a wan ahorarr ahorarr. Diodeno a wan me cago en tus muelas apetecan pecador amatomaa llevame al sircoo al ataquerl. Ese que llega se calle ustée pupita la caidita sexuarl. Me cago en tus muelas no te digo trigo por no llamarte Rodrigor no te digo trigo por no llamarte Rodrigor fistro apetecan.