<button (click)="onClick(false)" [disabled]="this.pagina === 1"> Página anterior </button>
<button (click)="onClick(true)" [disabled]="this.pagina === this.numPaginas"> Página siguiente </button>

<div class="personajes">
  <div class="personaje" *ngFor="let personaje of personajes"
    [ngClass]="{alive: (personaje.status === 'Alive'), dead: (personaje.status === 'Dead')}">
    <h3> {{personaje.name}} </h3>
    <img [src]=personaje.image alt="">
    <ul>
      <li> {{personaje.species}}</li>
      <li> {{personaje.location.name}}</li>
    </ul>
  </div>
</div>
